body {
  padding-left: 350px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* OVERALL */

a {
  color: #1c3b5e;
  text-decoration: none;
}

a:hover {
  color: #8ea2b8;
}

h1 {
  font-size: 8rem;
  font-family: Saira Extra Condensed;
  text-decoration: bold;
  margin: 0;
  line-height: 100%;
}

h2 {
  font-size: 4rem;
  font-family: Saira Extra Condensed;
  text-decoration: bold;
  margin: 0;
  line-height: 100%;
}

h3 {
  font-size: 3rem;
  font-family: Saira Extra Condensed;
  text-decoration: bold;
  margin: 0;
  line-height: 100%;
}

h4 {
  font-size: 2rem;
  font-family: Saira Extra Condensed;
  color: #808080;
  text-decoration: bold;
  margin: 0;
  line-height: 100%;
}

h5 {
  font-size: 2rem;
  font-family: Saira Extra Condensed;
  color: #bfbfbf;
  margin: 0;
  line-height: 100%;
}

h6 {
  font-size: 2rem;
  font-family: Saira Extra Condensed;
  margin: 0;
  line-height: 100%;
}

.sectionDiv {
  padding-top: 300px;
  padding-bottom: 300px;
  border-bottom: solid 1px;
  border-color: gray;
  width: 70%;
}

p {
  color: #808080;
  font-size: 1.25rem;
}

.lowerSection {
  padding-top: 50px;
}

/*NAV BAR*/

.ProfilePicture {
  width: 70%;
  margin: 15%;
  border-radius: 50%;
  border: solid 5px;
  border-color: #8ea2b8;
}

.NavBar {
  background-color: #1c3b5e;
  float: left;
  width: 300px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  z-index: 1;
}

.NavBarList {
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.NavItem {
  margin: 0;
  font-weight: bold;
  font-family: Saira Extra Condensed;
  font-size: 3rem;
  padding: 10px;
}

.NavLink {
  color: #bfbfbf
}

.NavLink:hover {
  color: #808080
}


/* HEADER */

.firstName {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}

.lastName {
  display: inline-block;
  color: #1c3b5e;
  margin-bottom: 0;
  padding: 0;
}

.headerText {
  font-size: 1.5rem;
}

.socialIcons {
  display: inline-block;
}

.socialIcon {
  width: 50px;
  height: 50px;
  margin: 10px;
}

/* PROJECTS */

.githubLink {
  width: 40px;
  height: 40px;
}

.ToDoP {
  display: inline-block;
}

.ToDoCompleted {
  display: inline-block;
  color: gray;
  
}

.ToDoCheckbox {
  display: inline-block;
}

.ToDoDiv {
  border-bottom: 1px solid gray;
}


/* EDUCATION */

.minors {
  margin: 0;
}

/* SKILLS */

.skillSection {
  width: 33%;
  display: inline-block;
  text-align: center;
}

.skillName {
  margin-right: 5%;
  width: 50%;
}

.skillBar {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-top: 2.5px;
}

/* FOR MOBILE */

@media screen and (max-width: 800px) {

  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .ProfilePicture {
    width: 70%;
    margin: 15%;
    border-radius: 50%;
    border: solid 5px;
    border-color: #8ea2b8;
  }
  
  .NavBar, .ProfilePicture, .NavBarList, .NavItem, .NavLink {
    visibility: hidden;
  }

  .skillSection {
    width: 33%;
    display: block;
    text-align: center;
  }

}